{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/propiedad.css'%}">


<body>
<main class="contenedor seccion contenido-centrado">
    <h1>{{ propiedad.descripcion }}</h1>
    <!--Galeria-->
    <div class="containerg">
        <div class="img_container">
            <img src="{% static 'img/Img1.png' %}" alt="" class="main_img">
        </div>

        <div class="thumbnail_container">
            <img class="thumbnail active" src="{% static 'img/Img1.png' %}" alt="">
            <img class="thumbnail" src="{% static 'img/Img2.png' %}" alt="">
            <img class="thumbnail" src="{% static 'img/Img3.png' %}" alt="">
            <img class="thumbnail" src="{% static 'img/Img4.png' %}" alt="">
        </div>
    </div>

    <!--boton vista 360-->
    <div class="botton360">

        <a href="{% url 'vista360' %}" class="vista360-btn">
            Abrir Vista
            <img src="{% static 'img/icono_360button.png' %}" alt="">
        </a>
    </div>
    <div class="resumen-propiedad">
        <p class="precio">$4,500,000</p>
        <ul class="iconos-caracteristicas">
            <li>
                <img class="icono" loading="lazy" src="{% static 'img/icono_wc.svg' %}" alt="icono wc">
            <p> {{ propiedad.num_baños }}</p>
            </li>
            <li>
                <img class="icono" loading="lazy" src="{% static 'img/icono_estacionamiento.svg' %}"
                    alt="icono estacionamiento">
            <p> {{ propiedad.num_estacionamientos }}</p>
            </li>
            <li>
                <img class="icono" loading="lazy" src="{% static 'img/icono_dormitorio.svg' %}"
                    alt="icono habitaciones">
            <p>{{ propiedad.num_habitaciones }}</p>
            </li>
        </ul>
        <div class="title-cards">
            <h2></h2>
        </div>

        <div class="title-cards">
            <h3></h3>
        </div>

        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="{% static 'img/destacada.jpg' %}">
                </figure>
                <div class="contenido-card">
                    <h3>UBICACIÓN DE LA PROPIEDAD</h3>
                    <a href="https://maps.app.goo.gl/75odFnR5rXdbhS3k9">
                        <img src="{% static 'img/Ubicación.png' %}">
                    </a>
                    <p>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="{% static 'img/INTERIORES.jpg' %}">
                </figure>
                <div class="contenido-card">
                    <h3>DETALLES DE LA PROPIEDAD</h3>
                    <p><strong>Direccion:</strong> {{ propiedad.direccion }}</p> 
                    <p><strong>Ciudad:</strong> {{ propiedad.ciudad }}</p>
                    <p><strong>Estado:</strong> {{ propiedad.estado }}</p>
                    <p><strong>Municipio:</strong> {{ propiedad.asentamiento }}</p>
                    <p><strong>CP:</strong> {{ propiedad.codigo_postal }}</p>
                    <p><strong>Fecha de Publicacion:</strong> {{ propiedad.fecha_publicacion }}</p>
                    <p><strong>Descripcion:</strong> {{ propiedad.descripcion}}</p>
                    <p><strong>Precio:</strong> {{ propiedad.precio }}</p>
                    <p><strong>Superficie:</strong> {{ propiedad.area }} m2</p>
                    <p><strong>Habitaciones:</strong> {{ propiedad.num_habitaciones }}</p>
                    <p><strong>Baños:</strong> {{ propiedad.num_baños }}</p>
                    <p><strong>Estacionamientos:</strong> {{ propiedad.num_estacionamientos }}</p>
                    <p><strong>Tipo de propiedad:</strong> {{ propiedad.tipo_propiedad }}</p>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="{% static 'img/SERVICIOS.jpg' %}">
                </figure>
                <div class="contenido-card col-4">
                    <h3>SERVICIOS</h3>
                    <p>-Agua potable</p>
                    <p>-Servicio de Energía eléctrica</p>
                    <p>-Telefono</p>
                    <p>-Internet</p>
                    <p>-Drenaje</p>
                    <p>-0 adeudos</p>
                    <p>-Documentos en orden</p>
                    <p>-Contacto: {{ propiedad.usuario.telefono}}</p>
                    <p>-Correo: {{ propiedad.usuario.email }}</p>
                </div>
            </div>
        </div>


        <p></p>

        <p></p>
    </div>
</main>
{% endblock %}