{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="contenedor seccion">
    <div class="formulario">
        <fieldset>
            <legend>Formulario de Vendedor</legend>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Guardar" class="boton-verde">
            </form>
        </div>
        </fieldset>
    </div>
</main>

{% endblock %}